#first {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
} 
/* #bootstrap-overrides body { /* 100+1=101 priority score, yay! */
  
/*  background-color: transparent;*/
/*} */*/
#second {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
} 

h1 {
 margin: 0 0 30px 0;
 padding: 5px 0 0 0 ;
}

/* body { background-color: transparent; !important;} */

/* .transparent {
  opacity: .4;
} */

#box1 {
  padding-left: 10px
}




